{% load pipeline %}
<!DOCTYPE html>
<html>
  {% stylesheet 's3_uploader_css' %}
  <head>
    <title>Uploader Demo</title>
    <script type="text/javascript">
      var awsConfig = {
        accessKey: '{{ AWS_ACCESS_KEY_ID }}',
        secretKey: '{{ AWS_SECRET_ACCESS_KEY }}',
        bucketName: '{{ AWS_STORAGE_BUCKET_NAME }}',
        identityPoolId: '{{ AWS_IDENTITY_POOL_ID }}',
        region: '{{ S3_REGION }}'
      };
    </script>
  </head>
  <body>
    <h1>Uploads</h1>
    <div id="app">
      Directory name (optional): <input id="dir_name" type="text" value="">
      <br/>
      File(s): <input id="file_upload" type="file" multiple="multiple" accept="image/*">
      <br/>
      <button id="addfile" onclick="uploadFile();">Upload</button>
    </div>
    <div id="popDiv" class="ontop popup">
    Uploading file(s), please DO NOT close the page...
    </div>
  </body>
  <footer>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.176.0.min.js"></script>
    {% javascript 's3_uploader_js' %}
  </footer>
</html>